#UPABASE_URL=https://izvhworsgtrxskakluzu.supabase.co
#UPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml6dmh3b3JzZ3RyeHNrYWtsdXp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMjc2NDAsImV4cCI6MjA4ODgwMzY0MH0.fNSUP0JTPyTbKHKGzOqYfKuoH0kbz0uUUnxze2Tgnog
#PORT=5000
