@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: theme(fontFamily.sans);
  color: #0b1220;
  background: #f3f5f9;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
